{# For Desktop #}
<div class="sticky-container show-for-medium" data-sticky-container>
	<div class="sl_sticky" data-sticky data-anchor="main">
		<a class="sl_share st-custom-button show-for-large" data-network="sharethis">
		    <span class="sl_share__cta">Share</span>
		    <img class="sl_share__image" src="{{site.url}}/wp-content/themes/slate/dist/img/icon/share-icon.svg" width="25" height="25"/>
		</a>

	</div>
</div>

{# For Medium Mobile #}
<a class="sl_button sl_button--share st-custom-button hide-for-large" data-network="sharethis">Share</a>