{% extends "module.twig" %}

{% block card %}
	
	{# Includes card components #}
 	<div class="sl_row">
		
		{# INTRO CONTENT #}
		<div class="sl_intro__content sl_cell large-6">
			<div class="sl_intro__card sl_card sl_card--intro">

				{# PRE HEADER #}	
				{% if module.card.pre_header %}
					<h5>{{ module.card.pre_header }}</h5>
				{% endif %}

				{# HEADER  #}
				{% if module.card.header %} 
					<h1>{{ module.card.header }}</h1>
				{% endif %}
				
				{# PARAGRAPH #}
				{% if module.card.paragraph %}
					{% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
				{% endif %}
				
				{# BUTTONS #}
	    		{% if module.card.buttons %}
					{% include "card-button.twig" with { card : module.card } %}
				{% endif %}

			</div>{# /.sl_intro__card.sl_card.sl_card--intro #}
		</div>{# /.sl_intro__content.sl_cell #}

		{# INTRO MEDIA #}
 		<div class="sl_intro__media sl_cell large-6">
 			<div class="sl_intro__media__container">
 				<div class="sl_intro__image" style="background-image: url({{Image(module.image).src}})">

				</div>{# /.sl_intro__image #}
 			</div>{# /.sl_intro__media__container #}
 		</div>{# /.sl_intro__media #}
 	</div>{# /.sl_row #}

{% endblock %}