{% extends "module.twig" %}

{% block card %}

{% if module.faq_header %}
<h2>{{module.faq_header}}</h2>
{% endif %}

{% if module.type_select == "simple" %}
<ul class="accordion sl_accordion sl_accordion--faq" data-accordion data-multi-expand="true" data-allow-all-closed="true">
{% for faq in Post(module.FAQ)%}
  <li class="accordion-item sl_accordion__item" data-accordion-item>

    {# FAQ QUESTION #}
    <a href="#" class="accordion-title sl_accordion__title">{{faq.post_title}}</a>

    {# FAQ ANSWER #}
    <div class="accordion-content sl_accordion__content" data-tab-content>
      {{ faq.post_content|wpautop|e('wp_kses_post')|apply_filters('the_content') }}
    </div>
  </li>
{% endfor %}
</ul>

{% elseif module.type_select == "grouped" %}
<div class="sl_FAQ__group">
  {% for group in module.accordion_group %}

      <ul class="accordion sl_accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
          <li class="accordion-item sl_accordion__item" data-accordion-item>
          <a href="#" class="accordion-title sl_accordion__title">
            
            {# FAQ GROUP ICON #}
            {% if group.group_icon %}
              {% include "card-image.twig" with { image : group.group_icon } %}
            {% endif %}
            {# FAQ GROUP TITLE #}
            <span {% if group.group_icon == null %}class="sl_no-icon" {% endif %}>{{group.group_title}}</span>
          </a>

              {# FAQs in GROUP #}
              <div class="accordion-content sl_accordion__content" data-tab-content>
                  <ul class="accordion sl_accordion sl_accordion--faq" data-accordion data-multi-expand="true" data-allow-all-closed="true">

                  {% for faq in Post(group.FAQ)%}
                    <li class="accordion-item sl_accordion__item" data-accordion-item>

                      {# FAQ QUESTION #}
                      <a href="#" class="accordion-title sl_accordion__title">{{faq.post_title}}</a>

                      {# FAQ ANSWER #}
                      <div class="accordion-content sl_accordion__content" data-tab-content>
                        {{ faq.post_content|wpautop|e('wp_kses_post')|apply_filters('the_content') }}
                      </div>
                    </li>
                  {% endfor %}

                  </ul>
              </div>
          </li>
      </ul>
  {% endfor %}
</div>{# /.sl_FAQ__group #}
{% endif %}

{% if module.check_box == 1 %}
  <div class="sl_row sl_FAQ--footer">
    <div class="sl_cell large-4 medium-5">
      <a href="{{site.url}}/about-us/faq"class="sl_button sl_button--secondary">Read all FAQs</a>
    </div>
    <div class="sl_cell large-8 medium-7">
      <p>If you don't see the answers that you're looking for, we have trained specialists on standby ready to guide you through the challenges. Give us a call at {{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in FAQ module" class="sl_button sl_button--phone"]')}}.</p>
    </div>
  </div>
{% endif %}

{% if module.conf_check_box == 1 %}
  <div class="sl_row sl_FAQ--footer">
    <div class="sl_cell large-4 medium-5">
      <a href="https://foundationsevents.com/conference-faq/"class="sl_button sl_button--secondary">Foundations Events FAQs</a>
    </div>
    <div class="sl_cell large-8 medium-7">
      <p>If you have additional questions not covered here, please visit our full conference FAQ page on the Foundations Events site.</p>
    </div>
  </div>
{% endif %}

{% endblock %} 