.sl_duo {
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;
	}//end small down breakpoint

		.sl_inner {
		& > .sl_row {
			background-color: get-color(inverse);
			border-radius: $border-radius;
			overflow: hidden;
			box-shadow: $shadow;

			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	&__media {
		min-height: 370px;

		@include breakpoint (medium down) {
			order: 2;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			min-height: 200px;
			margin-top: $spacing--sm;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;

			@include breakpoint (medium down) {
				order: 2;
			}//end medium down breakpoint
		}//end &__container

		&--video {
			.sl_duo__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_duo__image
		}//end &--video

		&--gallery {
			@include breakpoint (small down) {
				margin-top: 0;
				order: 1 !important;
			}//end small down breakpoint
		}//end &--gallery
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		display: flex;
		align-items: center;

		@include breakpoint (medium down) {
			order: 1;
		}//end medium down breakpoint

		@include breakpoint (small down) {
			flex: 0 0 auto;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			justify-content: flex-start;

			@include breakpoint (small down) {
				align-items: initial;
			}//end small down breakpoint
		}//end .sl_button-group

		&--gallery {
			@include breakpoint (small down) {
				order: 2 !important;
			}//end small down breakpoint
		}//end &--gallery
	}//end &__content

	h2 {
		font-size: 3rem;

		@include breakpoint (medium down) {
			font-size: 2rem;
		}//end medium down breakpoint
	}//end h2

	&__gallery {
        position: relative;
        display: flex;
        height: 100%;

        .slick-list {
            width: 100%;

            .slick-track, .slick-track div {
                width: 100%;
            }//end .slick-track, .slick-track div

            .slick-slide img {
                object-fit: cover;
                object-position: center bottom;
                vertical-align: middle;
                max-width: 100%;
                -ms-interpolation-mode: bicubic;

                @include breakpoint (small down) {
                	height: 250px;
                }//end small down breakpoint
            }//end .slick-slide img
        }//end slick-list

        .slick-dots {
            position: absolute;
            bottom: $spacing--xs;
            left: 0;
            right: 0;
            margin: 0;
            z-index: 1;
            text-align: center;

            li {
                position: relative;
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: 0 5px;
                cursor: pointer;
                margin-bottom: 0 !important;

                @include breakpoint (small only) {
                    margin: 0 4px;
                    width: 12px;
                    height: 12px;
                }//end small only breakpoint

                &.slick-active {
                    button {
                        background-color: get-color(primary);
                        border: 1px solid get-color(primary);
                    }//end button
                }//end &.slick-active

                button {
                    background-color: transparent;
                    border-radius: 50%;
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                    border: 1px solid rgba(get-color(inverse),.5);

                    @include breakpoint (small only) {
                        width: 12px;
                        height: 12px;
                        border-width: 1px;
                    }//end small only breakpoint
                }//end button
            }//end li
        }//end .slick-dots
    }//end &__slider

    &__arrows {
    	position: absolute;
    	font-size: 1.5rem;
    	z-index: 1;
    	top: calc(50% - 14px);
    	cursor: pointer;

    	--fa-secondary-color: #EFF7FB;
    	--fa-primary-color: black;
    }//end &__arrows

    &__prev {
    	left: $spacing--sm;

    	@include breakpoint (small down) {
    		left: $spacing--xs;
    	}//end small down breakpoint
    }//end prev

    &__next {
    	right: $spacing--sm;

    	@include breakpoint (small down) {
    		right: $spacing--xs;
    	}//end small down breakpoint
    }//end &__next

	//DUO TYPES

	&--right {
		.sl_duo__media {
			order: 2;
		}//end .sl_duo__media

		.sl_duo__content {
			order: 1;
		}//end .sl_duo__content
	}//end &--right

	&--billboard {
		position: relative;
		padding: 0 !important;

		.sl_duo__content {
			position: relative;
			min-height: 450px;
			z-index: 1;

			.sl_card {
				z-index: 1;
				position: relative;
			}//end .sl_card

			@include breakpoint (small down) {
				min-height: 0;
			}//end small down breakpoint

				&:after {
					@include pseudo;
					background: linear-gradient(115deg, #FFCB06 0%, #F57F48 55%, #FFFFFF 0, #FFFFFF 58%, rgba(255,255,255,0.00) 58%);
					top: 0;
					bottom: 0;
					left: 0;
					width: 200%;
					z-index: 0;

					@include breakpoint (medium only) {
						background: linear-gradient(115deg, #FFCB06 0%, #F57F48 60%, #FFFFFF 0, #FFFFFF 63%, rgba(255,255,255,0.00) 63%);
					}//end medium only breakpoint

					@include breakpoint (small down) {
						background: linear-gradient(0deg, #F57F48 0%, #FFCB06 100%);
						width: 100%;
					}//end small down breakpoint
			}//end &:after
		}//end .sl_duo__content

		.sl_duo__media {
			z-index: 0;
			@include breakpoint (small down) {
				margin-top: 0;
			}//end small down breakpoint
		}//end .sl_duo__media


		& > .sl_inner {
			max-width: none;
			padding: 0;

			& > .sl_row {
				overflow: initial;
				border-radius: 0;
				box-shadow: none;
			}//end & > .sl_row
		}//end & > .sl_inner

		.sl_card {
			padding: $spacing--xxl;
			padding-right: 0;
			z-index: 1;
			max-width: $global-width;
			margin-left: auto;

			@include breakpoint (medium only) {
				padding: $spacing--md;
				padding-right: 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				text-align: center;
				padding: $spacing--lg $spacing--sm;
			}//end small down breakpoint
		}//ennd .sl_card

		h2 {
			font-size: 2rem;
			text-transform: uppercase;
			font-family: $header-font-family;
			font-weight: $font-weight--bold;
			line-height: 1;
			color: get-color(accent3);

			&:before {
				content: '';
				display: inline-block;
				width: 72px;
				height: 30px;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				background-image: url(#{$path-img}icon/header-accent-icon.svg);

				@include breakpoint (medium only) {
					width: 50px;
					height: 20px;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					display: none;
				}//end small down breakpoint
			}//end &:before

			span {
				color: get-color(default);
				display: block;
				font-weight: $font-weight--bold;
				font-family: $body-font-family;
				font-size: 4.5rem;
				text-transform: none;
			}//end span

			@include breakpoint (medium only) {
				font-size: 1.5rem;
					span {
						font-size: 3.5rem;
					}//end span
			}//end medium only breakpoint

			@include breakpoint (small down) {
				font-size: 1.5rem;

				span {
					font-size: 2.25rem;
					margin-top: $spacing--xs/2;
				}//end span
			}//end small down breakpoint
		}//end h2

		p {
			font-size: 1.25rem;
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				font-size: 1.125rem;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end p

		.sl_button-group {
			@include breakpoint (medium only) {
				flex-direction: column;

				.sl_button {
					width: 100%;
				}//end .sl_button

				& > :first-child {
					margin-right: 0;
					margin-bottom: $spacing--xs;
				}//end & > :first-child
			}//end medium only breakpoint
		}//end .sl_button-group
	}//end &--billboard;

	&--primary {
		position: relative;
		padding-bottom: $spacing--lg;

		&:after {
			@include pseudo;
			background: $gradient--primary;
			top: $spacing--xxl + $spacing--lg;
			bottom: 0;
			left: 0;
			right: $spacing--xxl;
			border-radius: 0px $border-radius--lg $border-radius--lg 0px;

			@include breakpoint (medium down) {
				top: $spacing--md;
				bottom: 20%;
				border-radius: 0px;
				right: 0;
			}//end medium down breakpoint
		}//end &:after

		.sl_duo__media__container {
			border-radius: $border-radius--md;
			overflow: hidden;
		}//end .sl_duo__media__container

		.sl_card {
			margin-top: $spacing--lg;
			padding-bottom: 0;

			@include breakpoint (small down) {
				padding: 0;
				margin-top: $spacing--md;

				.sl_button {
					width: 100%;
				}//end .sl_button
			}//end small down breakpoint

			p {
				font-size: 1.25rem;

				@include breakpoint (small down) {
					font-size: 1.125rem;
				}//end small down breakpoint
			}//end p

			& > *:not([class]) {
				color: get-color(inverse);
			}//end & > *
		}//end .sl_card
	}//end &--primary
}//.sl_duo