.sl_location {
	padding: $spacing--xxl 0;

	@include breakpoint (large only) {
		padding: $spacing--xl 0;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--lg 0;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint
	& > .sl_inner {
		& > .sl_row {
			background-color: get-color(inverse);
			border-radius: $border-radius--lg;
			box-shadow: $shadow;
			overflow: hidden;
		}//end & > .sl_row
	}//end & > .sl_inner

	.sl_module__map {
		height: 100%;
		min-height: 300px;

		@include breakpoint (small down) {
			min-height: 215px;
		}//end small down breakpoint
	}//end .sl_module__map

	&__card {
		p {
			font-size: 1.5rem;
			font-weight: $font-weight--bold;
			line-height: 1.25;
		}//end p

		@include breakpoint (small down) {
			text-align: center;
		}//end small down breakpoint
	}//end &__card
	
}//end .sl_location