<ul class="sl_menu sl_usermenu">
{% for item in user_menu %}
	<li class="{{ item.classes | join(' ') }}">
		<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
	</li>
{% endfor %}
</ul>