//Gradients
$gradient--primary: linear-gradient(90deg, #F57F48 0%, #FFCB06 100%);
$gradient--secondary: linear-gradient(90deg, #BADBEC 0%, #FFFFFF 50%, #BADBEC 100%);
$gradient--border: linear-gradient(90deg, #FFCB06 0%, #F57F48 100%);