$site-palette: (
  primary:    #F57F48,
  secondary:  #EFF7FB,
  default:    #000000,
  inverse:    #FFFFFF,
  accent1:    #E9520C,
  accent2:    #FFCB06,
  accent3:    #910027,
  alert:      #910027,
);