.sl_breadcrumbs {
	&__container {
		background-color: get-color(secondary);
		padding: $spacing--sm 0;

		@include breakpoint (small down) {
			padding: $spacing--xs 0;
		}//end small down breakpoint
	}//end &__container

	li {
		margin-bottom: 0 !important;
		line-height: 1;
		font-weight: $font-weight--medium;
		&:not(:last-child) {
			&:after {
				@include fontawesome( $content: '\f105');
			}//end &:after
		}//end &:not(:last-child)

		@include breakpoint (small down) {
			line-height: 1.5;
			font-size: rem-calc(14px);
		}//end small down breakpoint
	}//end li

	&__current {
		font-weight: $font-weight--bold !important;
	}//end &__current

}//end .sl_breadcrumbs

body.home .sl_breadcrumbs__container {
	display: none;
}//end body.home .sl_breadcrumbs