.sl_footer {
	background: $gradient--secondary;
	padding: $spacing--xxl 0;

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	&__branding {
		padding-right: $spacing--lg;

		@include breakpoint (medium down) {
			padding-right: 0;
		}//end medium down breakpoint
	}//end &__branding

	&__logo {
		text-align: center;;
		img {
			max-width: 250px;
			width: 100%;
		}//end img

		@include breakpoint (small down) {
			text-align: center;
		}//end small down breakpoint
	}//end &__logo

	//Menu
	&__menu {
		margin-bottom: $spacing--xxl;

		@include breakpoint (small down) {
			margin-bottom: 0;
		}//end small down breakpoint
	}//end &__menu

	&__navigation {
		& > .sl_row {
			& > .sl_cell {
				padding: 0 $spacing--lg;

				@include breakpoint (medium down) {
					padding: $spacing--lg 0 0;
				}//end medium down breakpoint

				&:first-of-type {
					padding-left: 0;
				}//end &:first-of-type

				&:last-of-type {
					padding-right: 0;
				}//end &:last-of-type

				&:not(:last-of-type) {
					border-right: 1px solid get-color(default);
				}//end &:not(:last-of-type)
			}//end & > .sl_cell
		}//end & > .sl_row

		.sl_menu {
			flex-direction: column;
			margin-bottom: 0;
			height: 150px;

			& * {
				color: get-color(default);
			}//end & *

			& > li {
				position: relative;
			}//end & > li

			a {
				padding: 0;
				line-height: 1.5;
				font-size: 1.25rem;
				margin-bottom: $spacing--xs/2;
				font-weight: $font-weight--bold;

				@include breakpoint (large only) {
					font-size: 1.125rem;
				}//end large only breakpoint

				&:hover {
					text-decoration: underline;
				}//end &:hover
			}//end a
		}//end .sl_menu
	}//end &__navigation

	&__address {

		@include breakpoint (medium down) {
			text-align: center;
		}//end medium down breakpoint

		a {
			color: get-color(default) !important;
			font-size: 1.25rem;
			display: block;
			line-height: 1.8;

			@include breakpoint (large only) {
				font-size: 1.125rem;
			}//end large only breakpoint
		}//end a

		p {
			font-size: 1.25rem;
			margin-bottom: 0;
			font-weight: $font-weight--bold;
			line-height: 1.8;

			@include breakpoint (large only) {
				font-size: 1.125rem;
			}//end large only breakpoint
		}//end p

		.sl_phone {
			color: get-color(accent1) !important;
			font-weight: $font-weight--bold;
			@include transition (.3s all ease-in-out);

			&:hover {
				text-decoration: underline;
				color: get-color(primary) !important;
				@include transition (.3s all ease-in-out);
			}//end &:hover
		}//end .sl_phone
	}//end &__address

	//Info
	&__info {
		@include breakpoint (small down) {
			padding-top: $spacing--md
		}//end small down breakpoint
		
		.sl_inner {
			p {
				text-align: center;
				font-size: 1rem;
			}//end p

			& > * {
				color: get-color(default);
			}//end & > *

			a {
				color: get-color(default) !important;
			}//end a

			& > :last-child { margin-bottom: 0; }

			.sl_menu {
				justify-content: center;
				align-items: center;
				margin-bottom: $spacing--md;

				@include breakpoint (small down) {
					display: block;
					text-align: center;
				}//end small down breakpoint

				& * {
					color: get-color(inverse);
				}//end & *

				& > li {
					font-size: 1rem;
					position: relative;

					@include breakpoint (small down) {
						font-size: rem-calc(14px);
						display: inline-block;
					}//end small down breakpoint

					&:not(:last-of-type) {
						padding-right: $spacing--xs;
						margin-right: $spacing--xs/2;

						@include breakpoint (small down) {
							padding-right: $spacing--xs/2;
							margin-right: $spacing--xs/4;
						}//end small down breakpoint

						&:after {
							content: '|';
							position: absolute;
							right: 0;
							top: 0;
							font-weight: $font-weight--regular;

							@include breakpoint (small down) {
								right: -$spacing--xs/4;
							}//end small down breakpoint
						}//end &:after
					}//end &:not(:last-of-type)
				}//end & > li

				a {
					padding: 0;
					line-height: 1.5;

					&:hover {
						text-decoration: underline;
					}//end &:hover
				}//end a
			}//end .sl_menu
		}//end .sl_inner
	}//end &__info

	//Social
	&__socials {
		padding-top: $spacing--md;
		text-align: center;

			p {
				font-size: rem-calc(14px);
				font-weight: $font-weight--medium;
				margin-bottom: $spacing--xs/2;
			}//end p

		.sl_socials {
			justify-content: center;

			.sl_cell {
				width: auto;
				padding: 0 $spacing--xs/4;
				display: flex;
				align-items: center;
			}//end .sl_cell
		}//end .sl_socials
	}//end &__socials
		

}//end .sl_footer