.sl_header {
	position: relative;
	z-index: 999;
	background-color: get-color(inverse);
	box-shadow: $shadow--header;
	max-width: none;
	
	// LARGE HEADER //
	.sl_nav {
		background-color: transparent;
		position: relative;
		margin: 0 auto;
		padding: 0;
		@include inner;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 415px;

			@include breakpoint (large only) {
				max-width: 280px;
			}//end large only breakpoint

		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 118px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(default);
						padding: $spacing--sm $spacing--sm/2;
						@include transition (.2s all ease-in-out);
						font-size: 1.25rem;
						font-weight: $font-weight--bold;
						border-radius: $border-radius;
						position: relative;

						&:hover {
							@include transition (.2s all ease-in-out);
							color: get-color(accent1);
						}//end &:hover

						@include breakpoint (large only) {
							font-size: 1.125rem;
							padding: $spacing--md $spacing--xs;
						}//end large only breakpoint
					}//end & > a

					//Mega menu hover class
					&.hover {
						& > a {
							background-color: get-color(secondary);
							&:after {
						    	@include pseudo;
								width: 0; 
								height: 0; 
								border-left: 10px solid transparent;  /* left arrow slant */
								border-right: 10px solid transparent; /* right arrow slant */
								border-bottom: 15px solid get-color(inverse); /* bottom, add background color here */
								font-size: 0;
								line-height: 0;
								bottom: 0;
								right: calc(50% - 10px);
								z-index: 11;
						    }//end &:after
						}//end a 
					}//end .hover class

					//Current Page 
					&.current_page_item, &.current_page_parent {
						& > a {
							color: get-color(accent3);

							&:after {
								border-color: get-color(accent3) transparent transparent;
							}//end &:after
						}//end & > a
					}//end &.current_page_item

					//Has Dropdown
					&.is-dropdown-submenu-parent {
						& > a {
							&:after {
								display: none;
							}//end &:after
						}//end & > a

						&.is-active {
							& > a {
								background-color: rgba(get-color(secondary), .5);
								color: get-color(primary);
								border-radius: 0;
								&:after {
							    	display: none;
							    }//end &:after
							}//end a 
						}//end &.is-active
					}//end &.is-dropdown-submenu-parent

					//Dropdown Menu
					&.opens-right {
						.is-dropdown-submenu {
							background: get-color(inverse);
							box-shadow: $shadow;
							min-width: 300px;
							border: none;
							padding: 0;

							& > li {
								& > a {
									font-size: 1.25rem;
									color: get-color(default);
									font-weight: $font-weight--bold;
									padding: $spacing--sm $spacing--md;
									@include transition (.2s all ease-in-out);

									@include breakpoint (large only) {
										font-size: 1rem;
										padding: $spacing--xs;
									}//end large only breakpoint

									&:hover {
										background-color: rgba(get-color(secondary), .5);
										@include transition (.2s all ease-in-out);
									}//end &:hover
								}//end & > a

								&:not(:last-of-type) {
									border-bottom: 1px solid rgba(get-color(default),.5);
								}//end &:not(:last-of-type)

								&.is-active {
									& > a {
										background-color: rgba(get-color(secondary), .5);
										color: get-color(primary);
									}//end & > a
								}//end .is-active
							}//end & > li
						}//end & > .is-dropdown-submenu
					}//end &.opens-right
				}//end & > li
			}//end .sl_menu
		}//end &__menu


		// USER NAV
		&__secondary {
			display: flex;
			align-items: center;
			background-color: get-color(inverse);
			box-shadow: $shadow--header;
			padding-bottom: $spacing--xs/2;
			border-radius: 0 0 $border-radius $border-radius;
			padding: $spacing--xs/1.5 $spacing--md;
			margin-bottom: $spacing--xs;
		}//end &__secondary

		// PHONE
		&__phone {
			margin-right: $spacing--md;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			.sl_phone {
				display: flex;
				flex-direction: column;
				text-align: center;

				&__number {
					font-weight: $font-weight--bold;
					font-size: rem-calc(18px);
					color: get-color(accent1);
					line-height: 1;
				}//end &__number

				&__cta {
					font-size: rem-calc(16px);
					font-weight: $font-weight--medium;
					color: get-color(default);
					line-height: 1;
				}//&__cta
			}//end .sl_phone
		}//end &__phone

		&__search {
			max-width: 150px;
			margin-right: $spacing--md;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			 input {
			 	margin: 0;
			 }//end input

			 .sl_form__input {
			 	font-size: 1rem;
			 }//end .sl_form__input
		}//end &__search

		&__usermenu {
			.sl_menu {
				background-color: transparent;
				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						border-radius: $border-radius;
						color: get-color(default);
						padding: $spacing--xs/2;
						position: relative;
						@include transition(all .3s ease-in-out);

						@include breakpoint (large only) {
							font-size: 1rem;
						}//end large only breakpoint

						&:hover {
							background-color: rgba(get-color(inverse), .1);
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu
		}//end &__usermenu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: $spacing--xs $spacing--sm;
		align-items: center;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 170px;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 48px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;

		}//end &__right
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js