.sl_sidebar {

	&__container {
		background-color: get-color(inverse);
		padding: $spacing--md $spacing--sm;
		border-radius: $border-radius;
		box-shadow: $shadow;
	}//end &__container

	&__menu {
		list-style: none;
		margin: 0;

		& > li {
			font-size: 1.25rem;
			font-weight: $font-weight--bold;

			& > a {
				display: flex; 
				color: get-color(default);
				position: relative;
				align-items: center;
				@include transition (all .2s ease-in-out);

				&:after {
					position: absolute;
					right: 0;
					font-size: 1rem;
					margin-left: $spacing--xs/2;
					@include fontawesome($content: '\f054');
					@include transition (all .2s ease-in-out);
				}//end &:after

				&:hover {
					color: get-color(accent1);
					@include transition (all .2s ease-in-out);
				}//end &:hover
			}//end & > a

			&:not(:last-of-type) {
				& > a {
					padding-bottom: $spacing--xs/2;
					border-bottom: 1px solid get-color(default);
				}//end & > a
			}//end &:not(:last-of-type);

			& > ul {
				list-style: none;
				padding-top: $spacing--xs;
				margin-left: $spacing--sm;
				margin-bottom: 0;
				& > li {
					font-weight: $font-weight--regular;

					&:not(:last-of-type) {
						margin-bottom: $spacing--xs/2;
					}//end &:not(:last-of-type)

					& > a {
						text-decoration: underline;
						display: inline-block;
						color: get-color(default)

						&:hover {
							color: get-color(accent1)
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end & > ul
		}//end & > li
	}//end &__menu

	&__title {
		font-weight: $font-weight--bold;
		font-size: 1.5rem;
		color: get-color(accent3);
	}//end &__title
}//end .sl_sidebar

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
		}//rnf &__title

	}//end .sl_sidebar
}//end body.search