/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Inverse Button
5. Simple Button
6. Download Button
7. Pagination Button
8. Social Buttons
9. Share Button
10. Carousel Buttons
11. Back to Top Button
12. Video Button
13. Phone Button
14. Menu Button

- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	background-color: get-color(primary);
	font-size: 1.25rem;
	color: get-color(default);
	font-weight: $font-weight--bold;
	padding: $spacing--xs $spacing--sm;
	border-radius: $border-radius--pill;


	&:hover {
		@include transition (all .2s ease-in-out);
	}//end &:hover

	//Medium Button
	&--medium {

	}//end &--medium
	
	//Small Button
	&--small {

	}//end &--small

	&--primary {
		border: 2px solid get-color(accent1);
	}//end &--primary

//2. Secondary Button 
	&--secondary {
		background-color: get-color(secondary);
		color: get-color(inverse);

		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Inverse Button
	&--inverse {
		background-color: get-color(inverse);
	}//end &--inverse

//5. Simple Button
	&--simple {
		background: none;
		padding: 0;
		border-radius: none;
		color: get-color(accent1);

		&:after {
			display: inline-block;
			margin-left: $spacing--xs/2;
			@include fontawesome($content: '\f061');
			@include transition (all .2s ease-in-out);
		}//end &:after

		&:hover, &:focus {
			background: none;
			color: get-color(primary);

			&:after {
				transform: translateX(4px);
				@include transition (all .2s ease-in-out);
			}//end &:after
		}//end &:hover, &:focus
	}//end &--simple

//6. Download Button
	&--download{
		color: get-color(default);
		@include fancy-button;
		padding-right: $spacing--xl;
		
		&:before {
			background-image: url(#{$path-img}icon/download-icon.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before

		&:hover {
			color: get-color(default);
		}
	}//end &--download

//7. Pagination Button
	&--pagination {

	}//end &--pagination

//8. Social Buttons
	&--social {
		background: none;
		font-size: 1.5rem;
		line-height: 1;
		padding: 0;
		margin-bottom: 0;
		color: get-color(default);

		&:hover, &:focus {
			background: none;
			color: get-color(primary);
		}//end &:hover

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		// &.sl_facebook {background-color: #3B5998;}
		// &.sl_twitter {background-color: #1DA1F2;};
		// &.sl_youtube {background-color: #FF0000;};
		// &.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//9. Share Button
	&--share {
		
	}//end .sl_button--share

//10. Carousel Buttons
	&--carousel {
		background-color: get-color(accent1);
		height: 4rem;
		width: 4rem;
		position: absolute;
		top: calc(50% - 2rem);
		z-index: 2;
		cursor: pointer;

		&:before {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-repeat: no-repeat;
			background-size: 18px 25px;
			background-position: center center;

			@include breakpoint (small down) {
				background-size: 11px 17px;
			}//end small down breakpoint
		}//end &:before

		&.sl_prev {
			left: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-left-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				left: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_prev

		&.sl_next {
			right: -$spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-right-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				right: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_next

	}//end &--carousel

//11. Back to Top Button
	&--backtop {
		position: fixed;
		z-index: 10;
		bottom: $spacing--xs;
		right: $spacing--xs;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		background-color: get-color(primary);
		color: get-color(inverse);
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}//end &.sl_active
	}//end &--backtop

//12. Video Button
	&--video {
			background-color: get-color(inverse);
			border-radius: 50%;
			z-index: 1;
			height: 83px;
			width: 83px;
			position: relative;
			@include transition(all .3s ease-in-out);

			@include breakpoint (small down) {
				height: 70px;
				width: 70px;
				top: calc(50% - 35px);
			}//end small down breakpoint

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-image: url(#{$path-img}icon/play-icon.svg);
				background-repeat: no-repeat;
				background-size: 35px 35px;
				background-position: 60% center;

				@include breakpoint (small down) {
					background-size: 25px 25px;
				}//end small down breakpoint
			}//end &:before
	}//end &--video

//13. Phone Button
	&--phone {
		@include fancy-button;
		color: get-color(accent1);

		&:hover, &:focus {
			background: none;
			color: get-color(primary);
		}//end &:hover, &:focus
	}//end &--phone

//14. Menu Button
	&--menu {
		background: none;
		padding: 0;
		border-radius: 0;
		color: get-color(default);
		font-size: 1.25rem;
		text-transform: uppercase;
		margin-bottom: 0;

		&:hover, &:focus {
			background: none;
			color: get-color(default);
		}//end &:hover, &:focus
	}//end &--menu

}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--sm;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group
